.pull-right li:first-child a, .pull-right li:first-child a span.badge{ color: #B94A48; }
.pull-right li.active:first-child a, .pull-right li:first-child a span.badge{ background-color: #F2DEDE; }
.pull-right li.active:first-child a span.badge{ background-color: #FFF; }

#alertas_usuario .panel-info .panel-heading { display: flex; }
#alertas_usuario legend { padding-left: 5px; }
#alertas_usuario fieldset span.glyphicon {padding-top: 3px;}

.dataTable tr.odd.row_selected, .dataTable tr.even.row_selected{ background: #CCC; }
.dataTable tr.odd.row_selected td.sorting_1, .dataTable tr.even.row_selected td.sorting_1{ background: #CCB; }

#alertas_boe img{ height: 25px; }
#admin_reglas .nav-tabs{ background-color: #DDDDDD; border-radius: 4px; }
#admin_reglas { border-bottom: none; }
#eliminar_cuenta {
	float: right;
	position: relative;
	right: 10px;
	top: -60px;
}

label, th, .btn, .pull-right { text-transform: capitalize; }
