.panel-heading > legend{
	display: inline;
}
.dataTable tr.odd.row_selected, .dataTable tr.even.row_selected{ background: #CCC; }
.dataTable tr.odd.row_selected td.sorting_1, .dataTable tr.even.row_selected td.sorting_1{ background: #CCB; }