.nav li:first-child a{ color: #B94A48; }
.nav li.active:first-child a{ background-color: #F2DEDE; }

#alertas_usuario .panel-info .panel-heading { display: flex; }
#alertas_usuario legend { padding-left: 5px; }
#alertas_usuario fieldset span.glyphicon {padding-top: 3px;}

.dataTable tr.odd.row_selected, .dataTable tr.even.row_selected{ background: #CCC; }
.dataTable tr.odd.row_selected td.sorting_1, .dataTable tr.even.row_selected td.sorting_1{ background: #CCB; }

