{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}

{% block content_title %}{% trans 'escaner' %}{% endblock %}
{% block content %}

<h1>{{ boe.boe }}</h1>
<table>
<tr>
<th>Fecha</th>
<th>Task</th>
<th>Estado</th>
<th>Error</th>
</tr>
<tr {% if boe.error %} class="error" {% endif %}>
<td>{{ boe.fecha }}</td>
<td>{{ boe.celery_task }}</td>
<td>{% if result %}{{ result.status }}{% endif %}</td>
<td>{% if boe.error_text %}{{ boe.error_text }}{% endif %}</td>
</tr>
</table>
{% if result and result.traceback %}
<pre>{{ result.traceback }}</pre>
{% endif %}
{% if result and result.result %}
<pre>{{ result.result }}</pre>
{% endif %}



{% endblock %}
{% block addheader %}
<script>

</script>
{% endblock %}