$def with (columnas)
$var seccion: alertas

<div class="panel panel-danger">
<div class="panel-heading">Ultimas Alertas del BOE</div>
<div class="panel-body">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="alertas_boe">
<thead>
<tr>
$for key in columnas:
	<th width="$key['width']">$key['title'].replace('_',' ')</th>
</tr>
</thead>
<tbody>
<tr>
<td colspan="$len(columnas)" class="dataTables_empty">Cargando datos del servidor</td>
</tr>
</tbody>
<tfoot>
<tr>
$for key in columnas:
	<th>$key['title'].replace('_',' ')</th>
</tr>
</tfoot>
</table>
</div>
</div>
