{% load url from future %}
{% load staticfiles %}
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% trans 'Alertas del BOE' %} {% block content_title %}{% endblock %}</title>
<link rel="author" title="About" href="{% url 'acerca' %}" />
<link rel="copyright" title="Copyright" href="http://www.gnu.org/licenses/gpl-2.0.html" />
<link rel="shortcut icon" type="image/png" href="{% static 'img/icon.png' %}" />

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'js/jquery.datatables.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}" />

<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />

<!-- Boe -->
<link rel="stylesheet" type="text/css" href="{% static 'boe/boe.css' %}"/>
<script src="{% static 'boe/boe.js' %}"></script>
{% block addheader %}{% endblock %}
</head>
<body>

<div class="container">
<div class="header">
{% block sidebar %}
<ul class="nav nav-pills pull-right">
{% url 'boescan:alertas' as uri_alertas %}
	<li class="{% ifequal request.path uri_alertas %}active{% endifequal %}"><a href="{{uri_alertas}}">{% trans 'alertas' %}
	<span id="total_alertas" class="badge">{{ user.alertas.count }}</span></a></li>
{% url 'perfil' as uri_perfil %}
	<li class="{% ifequal request.path uri_perfil %}active{% endifequal %}"><a href="{{uri_perfil}}">{% trans 'perfil' %}</a></li>
{% url 'boe:reglas' as uri_reglas %}
	<li class="{% ifequal request.path uri_reglas %}active{% endifequal %}"><a href="{{uri_reglas}}">{% trans 'reglas' %}</a></li>
	{% if user.is_authenticated %}<li><a href="{% url 'logout' %}">{% trans 'logout' %}</a></li>{% endif %}
</ul>
{% endblock %}
<a href="{% url 'acerca' %}"><h3 class="text-muted">{% trans 'Alertas del BOE' %}</h3></a>
</div>
{% block content %}{% endblock %}
</div>
</body>