$def with (error)
$var seccion: usuario

<form id="login_usuario" method="POST" role="form">
<div class="panel panel-primary">
<div class="panel-heading"><h1 class="panel-title">Acceso a Usuarios</h1></div>
<div class="panel-body">
$if error is not None:
	<div class="alert alert-danger">$error</div>

<fieldset class="panel panel-info">
<div class="panel-heading"><legend class="panel-title">Datos de Acceso:</legend></div>
<label for="email" ><span class="glyphicon glyphicon-envelope"></span>eMail</label>
<input id="email" type="email" value="" placeholder="ejemplo@boe.es" name="email" />
<label for="clave" >clave</label>
<input id="clave" type="password" value="" name="clave" />
<input type="hidden" value="$clave_cifrado(True)" name="cifrado" />
</fieldset>

</div>
<div class="panel-footer">
<input type="submit" value="acceder" class="btn btn-primary"/>
<a href="$twitter_url()" class="btn btn-info"><img src="/static/images/sign-in-with-twitter-link.png" alt="Accede con twitter"/></a>
</div>
</div>
</form>
