$def with (errores, tablaRapida, tablaS, tablaA, tablaB)
$var seccion: reglas

$if errores is not None:
	$if len(errores) > 0:
		$for error in errores:
			<div class="alert alert-danger">$error</div>
	$else:
		<div class="alert alert-success">Datos guardados</div>

<div class="panel panel-primary" id="admin_reglas">
<div class="panel-heading">
<ul class="nav nav-tabs">
<li class="active"><a href="#basico" data-toggle="tab">Reglas Basica</a></li>
<li><a href="#avanzado" data-toggle="tab">Reglas Avanzada</a></li>
<li><a href="#ayuda" data-toggle="tab">Ayuda</a></li>
</ul>
</div>

<div class="tab-content">
<div class="tab-pane active" id="basico">
$:tablaRapida
</div>
<div class="tab-pane" id="avanzado">
$:tablaS
$:tablaA
$:tablaB
</div>
<div class="tab-pane" id="ayuda">
<div class="panel panel-info">
<div class="panel-heading">Sobre el funcionamiento de las Reglas</div>
<p>En el panel de busqueda avanzada podemos ver tres tipo de "BOE"s.<br/>
Cada uno de ellos contiene un formato diferente y por tanto las alertas se puede configurar con distintas opciones.</p>
<div class="alert alert-danger">Si una regla tiene varias opciones selecciondas, todas ellas han de ser ciertas para poder notificar la Alerta.</div>
<h3>BOE del tipo S</h3>
<p>Este BOE es el formato "inicial" donde aparecen listado el resto de BOEs.<br/>
Sobre este formato existen las siguientes opciones:
<ul>
<li><b>seccion:</b> Es un listado con las distintas secciones posibles.</li>
<li><b>departamento:</b> Es un listado con los distintos departamentos posibles.</li>
<li><b>epigrafe:</b> Es un listado con los distintos epigrafes posibles.</li>
<li><b>titulo:</b> Expresion regular usada para buscar en el titulo.</li>
</ul>
</p>
<h3>BOE del tipo A</h3>
<p>Este BOE es el formato legislativo.<br/>
Sobre este formato existen las siguientes opciones:
<ul>
<li><b>titulo:</b> Expresion regular usada para buscar en el titulo.</li>
<li><b>departamento:</b> Es un listado con los distintos departamentos posibles.</li>
<li><b>origen legislativo:</b> Es un listado con los distintos ordenes legislativos.</li>
<li><b>materias:</b> .</li>
<li><b>alertas:</b> Es un listado de posibles alerta como parecen en "Alertas legislativas" y "Nombramientos, oposiciones y concursos" en el servicio oficial.</li>
<li><b>texto:</b> Expresion regular usada para buscar en el texto del BOE.</li>
</ul>
</p>
<h3>BOE del tipo B de licitaciones</h3>
<p>Este BOE es el formato.<br/>Sobre este formato existen las siguientes opciones:
<ul>
<li><b>titulo:</b> Expresion regular usada para buscar en el titulo.</li>
<li><b>departamento:</b> Es un listado con los distintos departamentos posibles.</li>
<li><b>materias:</b> Es un listado de posibles alerta como parecen en "Alertas de anuncios de licitación" en el servicio oficial.</li>
<li><b>texto:</b> Expresion regular usada para buscar en el texto del BOE.</li>
</ul>
</p>
</div>
</div>

</div>
</div>
